.App {
  text-align: center;
  display: flex;
}
body {
  background-color: #1b0441;
}
.input {
  width: inherit;
  border-radius: 5px;
  padding: 10px;
}
.form {
  box-shadow:
    0.1rem,
    0.001rem 1rem #330e6e;
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 400px;
  margin: 10px;
  position: relative;
  padding: 30px;
}
.table {
  box-shadow:
    0.1rem,
    0.001rem 1rem #330e6e;
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 15px;

  th {
    border: 2px solid #ddd;
    background-color: #948282;
    color: rgb(18, 52, 114);
    margin: 7px;
    padding: 10px;
  }
  td {
    border: 2px solid #ddd;
    background-color: #948282;
    color: cornflowerblue;
    margin: 7px;
    padding: 10px;
  }
}
